@media only screen and (min-width: 768px) {

    .header {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .company-name {
        font-size: 2rem;
    }
    .nav-toggle {
        display: none;
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .side-navbar {
        position: static;
        width: auto;
        max-width: none;
        height: auto;
        background-color: var(--primary-color);
        background: none;
        box-shadow: none;
        padding: 0;
        transition: none;
      
      }

      .side-navbar.active {
        right: auto;
      }
      .close-btn {
        display: none;
      }
    .nav-list {
        display: flex;
        gap: 1rem;
        margin-top: 0;
    }

    .nav-link {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 03s ease-in-out;
  
    }

    .close-btn {
        display: none;
      }

    #clothing-container, #show-container {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    .cart-icon {
        margin-left: 1rem;
    }
    .cart-container {
        padding: 2rem;
    }

    .product-grid {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    .cart-page{
        max-width: 800px;
        margin: 0 auto;
    }
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: left;
        padding: 2rem;
    }
    .demographics-info {
        grid-column: 1/2;
    }
    .social-icons {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;
        justify-content: center;
        align-content: center;
    }
    
    .icon-youtube img, .icon-twitter img, .icon-linkedin img {
        width: 50px;
        height: 50px;
    }
    
    .copyright {
        grid-column: 3/4;
    }

 
}










