@media only screen and (min-width: 768px) {
    #hamburger-button {
    display: none; 
    }
    
    ul.menuLinks {
    display: flex;
    justify-content: flex-end;
    }
    
    ul li a:hover {
    background-color: #F7FFF7;
    }
    
    nav {
    grid-template-rows: 1fr; 
    }
    }