:root {
    --primary-color: #022b31;
    --secondayr-color:#F4A460;
    --text-color: #0a0808;
    --background-color: #F7FFF7;
  }


  .roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:400 ;
    font-style: normal;
  }

  .playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Roboto", sans-serif;
    background-color:var(--background-color);
    margin: 0;
    padding: 0;

    }
    
h1, h2, nav ul li a {
        font-family: "Playfair Display", serif;
    }

.hero {
    background-color: var(--secondayr-color);
    padding: 1rem;
    text-align: center;
    }
.hero-content {
    display: grid;
    grid-template-columns: 100px auto 20px;
}
.hero-content img {
    max-width: 80px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(2, 43, 49, 0.3);
}

.hero-content .company-name {
    text-align: left;
    margin-top: 15px;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: var(--primary-color)
}
nav {
    background-color: var(--secondayr-color);
    color: var(--primary-color);
    margin-top: -50px;
    }
    
#hamburger-button::before {
    content:"☰";
    }
    
#hamburger-button {
    margin-top: -60px;
    margin-left: -6px;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    width: 50%;
    }
    
ul.menuLinks li a {
    
    display: block;
    text-align: center;
    padding: .75rem 2vw;
    color: var(--text-color);
    text-decoration: none;
    list-style-type: none;
    }

    
ul.menuLinks li {
    list-style-type: none;
    text-align: center;
    }

ul li a:hover {
        background-color: #f5caa5;
        }

li.active {
        
        border:  3px solid rgba(0, 0, 0, 0.1);
        
        }
    
#hamburger-button.open::before {
    content:'x';
    
    }
    
nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    }
    
nav ul{
    overflow: hidden;
    }
    
nav.open {
    grid-template-rows: 1fr;
    }

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button{
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;
}

#resort-display {
    display: grid;
    grid-template-columns: repeat(2, minmax(110px,1fr));
    gap: 1rem;
}

#resort-display.list {
    display: flex;
    flex-direction:row;
}

#resort-display.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    align-items: center;
}

#resort-display.list section > * {
    margin: 0 1rem;
}

.resort-description {
    display: none;
}
#resort-display.list section img {
    display: none;
}

#resort-display.list section h3 {
font-size: 0.9rem;
font-family:"Playfair Display", serif;
}

#resort-display.list section:nth-child(even) {
    background-color: #bed;
}

#resort-display section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

#resort-display img {
    width: 80%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 1rem;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    
}

#resort-display h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    color: var(--primary-color);
}

.resort-details a {
    color: var(--text-color);
    text-decoration: none;
    display: inline;
    margin-top: 0.5rem;
}

.resort-details a {
    text-decoration: underline;
}

footer {
    background-color: var(--secondayr-color);
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    padding: 1rem;
    text-align: center;
    margin-top: 15px;
}

    