:root {
    --primary-color: #022b31;
    --secondayr-color:#F4A460;
    --text-color: #0a0808;
    --background-color: #F7FFF7;
    --card-background: #ffffff;
    --card-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }


  .roboto {
    font-family: "Roboto", sans-serif;
    font-weight:400 ;
    font-style: normal;
  }

  .playfair-display {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Roboto", sans-serif;
    background-color:var(--background-color);
    margin: 0;
    padding: 0;

    }
    
h1, h2, nav ul li a {
        font-family: "Playfair Display", serif;
    }
h2 {
    text-align: center;
}
h1 {
    text-align: center;
    font-size:21px;
    margin-top: 20px;
}

#home {
    text-align: left;
    margin-left: 20px;
    font-size: xx-large;
}
.hero {
    background-color: var(--secondayr-color);
    padding: 1rem;
    text-align: center;
    }
.hero-content {
    display: grid;
    grid-template-columns: 100px auto 20px;
}
.hero-content img {
    max-width: 80px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(2, 43, 49, 0.3);
}

.hero-content .company-name {
    text-align: left;
    margin-top: 10px;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: var(--primary-color);
}
nav {
    background-color: var(--secondayr-color);
    color: var(--primary-color);
    margin-top: -50px;
    }
    
#hamburger-button::before {
    content:"☰";
    }
    
#hamburger-button {
    margin-top: -60px;
    margin-left: -6px;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    width: 50%;
    }
    
ul.menuLinks li a {
    
    display: block;
    text-align: center;
    padding: .75rem 2vw;
    color: var(--text-color);
    text-decoration: none;
    list-style-type: none;
    font-size: large;
    font-weight: 500;
    }

    
ul.menuLinks li {
    list-style-type: none;
    text-align: center;
    }

ul li a:hover {
        background-color: #f5caa5;
        }

li.active {
        
        border:  3px solid rgba(0, 0, 0, 0.1);
        
        }
    
#hamburger-button.open::before {
    content:'x';
    
    }
    
nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    }
    
nav ul{
    overflow: hidden;
    }
    
nav.open {
    grid-template-rows: 1fr;
    }

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button{
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;
}

#resort-display {
    display: grid;
    grid-template-columns: repeat(2, minmax(110px,1fr));
    gap: 1rem;
}

#resort-display.list {
    display: flex;
    flex-direction: column;
}

#resort-display.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    align-items: center;
}

#resort-display.list section > * {
    margin: 0 1rem;
}

#resort-display.list section #resort-description {
    display: none;
}
#resort-display.list section img {
    display: none;
}

#resort-display.list section h3 {
font-size: 1.3rem;
font-family:"Playfair Display", serif;
}

#resort-display.list section:nth-child(even) {
    background-color: #bed;
}

#resort-display section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

#resort-display img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 1rem;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
    
}

#resort-display h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    color: var(--primary-color);
}

.resort-details a {
    color: var(--text-color);
    text-decoration: none;
    display: inline;
    margin-top: 0.5rem;
}

.resort-details a {
    text-decoration: underline;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.hero-image {
    position: relative;
    width: 100%;
}

.hero-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#call-to-action {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0.73rem 1.4rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 8px;
    font-weight: 600;
}

#call-to-action:hover{
    background-color: var(--secondayr-color);
    color: var(--text-color);
}

.events h2 {
    position: relative;
    color: black;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
}

.weather h2 {
    position: relative;
    color: black;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
}

.forecast h2 {
    position: relative;
    color: black;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    z-index: 1;
}

.events h2:after {
    content: "";
    position: absolute;
    top: -38px;
    left: -16px;
    width: calc(109%);
    height: 180%;
    background-color: var(--secondayr-color);
    z-index: -1;
  }

  .weather h2:after {
    content: "";
    position: absolute;
    top: -38px;
    left: -17px;
    width: calc(109%);
    height: 180%;
    background-color: var(--secondayr-color);
    z-index: -1;
  }

  .forecast h2:after {
    content: "";
    position: absolute;
    top: -38px;
    left: -16px;
    width: calc(109%);
    height:180%;
    background-color: var(--secondayr-color);
    z-index: -1;
  }

.events, .weather, .forecast, .company-spotlight {
    background-color: var(--card-background);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.events h2, .weather h2, .forecast h2, .company-spotlight h2 {
    text-align: center;
    margin-bottom: 1rem;
}


.event-list p {
    margin: 0.5rem 0;
}

.weather-card, .forecast-card, .spotlight-card {
    text-align: center;
    margin: 1rem 0;
}

.weather-card img {
    width: 50px;
    height: 50px;
}



.company-spotlights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
}

.company-spotlight {
    background-color: var(--card-background);
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.company-spotlight img {
    width: 100%;
    border-radius: 8px;
}

.company-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.company-info h3 {
    text-align: center;
    margin: 0 0 0.5rem;
    font-size: 1.3rem;
    color: var(--primary-color);
}

.company-info .tagline {
    text-align: center;
    font-style: italic;
    margin-bottom: 1rem;
    color: #555;
}

.company-info p {
    margin: 0.5rem 0;
}

.spotlight-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #0073e6;
    color: #0a0808;
    text-decoration: none;
    border-radius: 5px;

}

.spotlight-card a:hover {
    background-color: #bed;
}

@media (min-width: 440px) and (max-width: 767px) {
    .events h2 {
        position: relative;
        color: black;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        z-index: 1;
    }
    
    .weather h2 {
        position: relative;
        color: black;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        z-index: 1;
    }
    
    .forecast h2 {
        position: relative;
        color: black;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        z-index: 1;
    }
    
    .events h2:after {
        content: "";
        position: absolute;
        top: -38px;
        left: -16px;
        width: calc(105%);
        height: 180%;
        background-color: var(--secondayr-color);
        z-index: -1;
      }
    
      .weather h2:after {
        content: "";
        position: absolute;
        top: -38px;
        left: -17px;
        width: calc(105%);
        height: 180%;
        background-color: var(--secondayr-color);
        z-index: -1;
      }
    
      .forecast h2:after {
        content: "";
        position: absolute;
        top: -38px;
        left: -16px;
        width: calc(105%);
        height:180%;
        background-color: var(--secondayr-color);
        z-index: -1;
      }
}

footer {
    background-color: var(--secondayr-color);
    color: var(--primary-color);
    font-family: "Playfair Display", serif;
    padding: 1rem;
    text-align: center;
    margin-top: 15px;
    font-size: larger;
    font-weight: 600;
}

    